<div class="hero-unit">
	<h1>Welcome to Test App!</h1>
	<p> You've found the home page!

		<%= link_to "One Month Rails", "http://www.onemontrails.com" %> 

	</p>

	<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</div>